@import "bulmaUtils";
@import "colors";

$primary: $colorBlue;
$secondary-invert: findColorInvert($colorBlue);
$colorYellowInvert: findColorInvert($colorYellow);
$colorRedInvert: findColorInvert($colorRed);
$colorGreenInvert: findColorInvert($colorGreen);
$colorGreyInvert: findColorInvert($colorGrey);
$family-primary: $family-sans-serif;


@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "green": ($colorGreen, $colorGreenInvert),
  "yellow": ($colorYellow, $colorYellowInvert),
  "red": ($colorRed, $colorRedInvert),
  "grey": ($colorGrey, $colorGreyInvert)
);$colors: map-merge($colors, $addColors);