@import "zero";
@import "colors";
@import "bulmaImport";

body{
  background-color: $colorDarkGrey;
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100vh;
  width: 100vw;
}

@import "./OperationPicker.scss";